[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Revert Client-Side Decorations
Exec=xfconf-query -c xsettings -p /Gtk/DialogsUseHeader -s false
Terminal=false
Type=Application
StartupNotify=false
